*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
    background-color: white;
}

.header{
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.header .stats{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header .stats .members div{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 30px;
    border-radius: 50px;
}

.header .stats .members div p{
    color: white;
}

.header .stats .members div img{
    width: 30px;
}

.header .stats h2{
    font-size: 80px;
}

.clanData{
    display: flex;
    align-items: center;
    gap: 20px;
}

.clanData div p{
    color: white;
}

.location{
    display: flex;
    align-items: center;
    gap: 20px;
}

.midStats{
    width: auto;
    padding: 25px 35px;
    background-color: thistle;
    border-radius: 50px;
}

.midStats_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.midStats_container .metrics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 5px 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card div p{
    color: white;
}

.card img{
    width: 50px;
}

.card .response{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.containerMain{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    gap: 20px 35px;
    padding: 25px 70px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 80px;
}

.containerMain a{
    text-decoration: none;
    font-weight: bold;
    color: #0ca6c7;
}

.containerMain div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.main {
    background-color: white;
}

.main .title{
    margin: 25px 0;
    font-size: 30px;
    color: #233d4d;
}

.main img{
    width: 16px;
}

.main .trophies div,
.main .donations div,
.main .level div,
.main .lastSeen div,
.main .name div,
.main .role div,
.main .position div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 10px;
}

.main .trophies,
.main .donations,
.main .level,
.main .lastSeen,
.main .name,
.main .role,
.main .position{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.main p{
    font-size: 18px;
}

/* Empieza la tabla con flex */
.mainContainer{
    display: none;
    align-items: baseline;
    gap: 20px 40px;
}

