*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: black;
    background-color: white;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container-header{
    height: 380px;
}

.header{
    width: 100%;
    justify-content: space-around;
    flex-direction: column;
}

.header .stats{
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.header .stats .members div{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 30px;
    border-radius: 50px;
}

.header .stats .members div p{
    color: white;
}

.header .stats .members div img{
    width: 30px;
}

.header .stats h2{
    font-size: 80px;
}

.clanData{
    display: flex;
    align-items: center;
    gap: 20px;
}

.clanData div p{
    color: white;
}

.location{
    display: flex;
    align-items: center;
    gap: 20px;
}

.midStats{
    width: auto;
    padding: 25px 35px;
    background-color: thistle;
    border-radius: 50px;
}

.midStats_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.midStats_container .metrics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 5px 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card div p{
    color: white;
}

.card img{
    width: 50px;
}

.card .response{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.containerMain{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    gap: 20px 35px;
    padding: 25px 70px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin-bottom: 80px;
}

.containerMain a{
    text-decoration: none;
    font-weight: bold;
    color: #0ca6c7;
}

.containerMain div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.main {
    background-color: white;
}

.main .title{
    margin: 25px 0;
    font-size: 30px;
    color: #233d4d;
}

.main img{
    width: 16px;
}

.main .trophies div,
.main .donations div,
.main .level div,
.main .lastSeen div,
.main .name div,
.main .role div,
.main .position div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 10px;
}

.main .trophies,
.main .donations,
.main .level,
.main .lastSeen,
.main .name,
.main .role,
.main .position{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.main p{
    font-size: 18px;
}

/* Empieza la tabla con flex */
.mainContainer{
    display: none;
    align-items: baseline;
    gap: 20px 40px;
}

.displayMobile{
    display: none;
}

@media (max-width: 950px){

    .main .displayMobile{
        display: grid;
        padding: 30px;
    }

    .midStats{
        margin-bottom: 10px;
    }
    .midStats_container{
        flex-direction: column;
    }

    .display{
        display: none;
    }
    .containerMain{
        grid-template-columns: 1fr;
        padding: 30px;
        width: 90%;
    }
    .containerMain .containerUser{
        display: flex;
        justify-content: space-between;
        border: 1px solid rgba(0, 0, 0, 0.19);
        padding: 5px 10px;
        border-radius: 20px;
    }
    .container-header{
        height: auto;
    }
    .header{
        height: auto;
    }
    .clanData{
        flex-direction: column;
        gap: 0;
    }
    .clanData .badges img{
        width: 100%;
    }

    .members{
        margin: 10px;
    }

    .location{
        justify-content: center;
    }
    .clanData .location h2{
        font-size: 30px;
    }

    .containerUser .clanA{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .clanA .tagName,
    .clanA .otherStats,
    .containerUser .clanB{
        gap: 15px;
    }

    .clanData div:nth-child(2){
        /* background-color: #233d4d; */
        width: 90%;
    }
}

@media (max-width: 600px){
    .metrics .card img{
        display: none;
    }

    .metrics .card{
        text-align: center;
    }

    .midStats{
        padding: 20px;
    }

    .containerMain{
        padding: 5px;
        width: 100%;
        border-radius: 0px;
    }

    .clanData div:nth-child(2){
        /* background-color: #233d4d; */
        width: 90%;
    }

    .clanA .otherStats div:nth-child(2){
        display: none;
    }

    .main .containerMain p{
        font-size: 12px;
    }
}

@media (max-width: 370px){
    .midStats{
        border-radius: 0;
    }
}