*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: black;
}

.header{
    width: 100%;
    justify-content: space-around;
}

.header .stats{
    width: auto;
}

.header .stats h2{
    font-size: 80px;
}

.clanData{
    display: flex;
    align-items: center;
    gap: 20px;
}

.location{
    display: flex;
    align-items: center;
    gap: 20px;
}

.midStats{
    width: auto;
}

.midStats_container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

.midStats_container .metrics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
    margin: 5px 10px;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card img{
    width: 50px;
}

.card .response{
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.containerMain{
    display: grid;
    grid-template-columns: repeat(7, auto);
    grid-template-rows: auto;
    gap: 20px 50px;
}

.containerMain div{
    display: flex;
    align-items: center;
    gap: 5px;
}
/* Empieza la tabla con flex */
.mainContainer{
    display: none;
    align-items: baseline;
    gap: 20px 40px;
}

.main img{
    width: 16px;
}

.main .trophies div,
.main .donations div,
.main .level div,
.main .lastSeen div,
.main .name div,
.main .role div,
.main .position div{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
    margin: 10px;
}

.main .trophies,
.main .donations,
.main .level,
.main .lastSeen,
.main .name,
.main .role,
.main .position{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.main p{
    font-size: 18px;
}

.titleName{
    color: tomato;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
}