*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: white;
}

/* UNIVERSALES */

.w30{ /* img */
    width: 30px;
}

.flexGap{ /* Div padre > Div hijo */
    display: flex;
    gap: 10px;
}

.p{ /* p */
    color: white;
    font-size: 20px;
    font-weight: bold; 
}

/* Barra Exp */
.progressBar div{
    display: flex;
    align-items: center;
    justify-content: center;
}   
.progressBar div p{
    font-size: 12px;
    padding: 5px;
}

/* HEADER */
.header{
    width: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding-top: 10px;
}

.header h2{
    color: white;
    font-size: 60px;
}

/* STATS */

.stats{
    padding: 40px 0;
    height: auto;
}

.stats .name{
    display: flex;
    justify-content: left;
    align-items: flex-end;
    gap: 20px;
}

.stats .name .exp{
    position: relative;
}

.stats .name .exp img{
    width: 60px;
}

.stats .name .exp p{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
}

.stats .lastTime{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
}

.stats .lastTime img{
    width: 20px;
}

.stats .titleP{
    color: #2bb0cf;
    margin-top: 23px;
}

.stats .trophies,
.stats .winsLosses,
.stats .gameData{
    display: flex;
    align-items: center;
    gap: 40px;
    margin: 10px 0;
}

.stats .trophies,
.stats .winsLosses{
    margin-top: 4px;
}

/* MID STATS */
.midStats{
/*     background-color: #0089ff; */
    display: flex;
    align-items: flex-end;
    gap: 30px;
}

    /* clan */
.clan .clanContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clan .clanName{
    text-align: center;
}

.clan .clanImg img{
    width: 130px;
    margin-bottom: 20px;

}

    /* arena */
.arena{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.arena .arenaImg img{
    width: 200px;
}



/* MAIN */
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
/*     background-color: burlywood; */
}

.main .currentDeck{
    width: 70%;
    margin: 0 auto;
    margin-top: 70px;
}

.main .upcomingchests{
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
}

.main .currentDeck .currentDeckTitle,
.main .upcomingchests .upcomingchestsTitle{
    text-align: center;
    margin: 10px 0;
    padding: 0 0 0 0;
    color: #2bb0cf;
/*     background-color: antiquewhite; */
}

.main .currentDeck .currentDeckTitle p,
.main .upcomingchests .upcomingchestsTitle p{
    color: #2bb0cf;
}

.main .currentDeck .currentDeckImg{
/*     background-color: #2bb0cf; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    justify-content: center;
    justify-items: center;
    margin-top: 20px;
}

.main .currentDeck .currentDeckImg img{
    width: 120px;
}

.main .upcomingchests .upcomingchestsImg .chestsItem .firstImg{
    border: 3px solid #0089ff;
    border-radius: 10px;
}

.main .upcomingchests .upcomingchestsImg{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    justify-content: center;
    justify-items: center;
    gap: 10px;
    margin-top: 20px;
/*     background-color: violet; */
}

.main .upcomingchests .upcomingchestsImg img{
    width: 90px;
    height: 90px;
    padding: 5px;
}

.main .upcomingchests .upcomingchestsImg .chestsItem{
    position: relative;
}

.main .upcomingchests .upcomingchestsImg .chestsItem p{
    position: absolute;
    color: white;
    top: 65%;
    left: 70%;
    transform: translate(-50%, -50%);
    background-color: #0089ff;
    border-radius: 30px;
    padding: 5px;
}



@media (max-width: 1367px){
    .main .currentDeck .currentDeckImg{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 538px){
    .main .currentDeck .currentDeckImg{
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    }

    .header .clan .clanName{
        display: none;
    }

    .header .clan .clanImg{
        display: none;
    }

    .header h2{
        font-size: 40px;
    }
}

@media (max-width: 345px){
    .header{
        justify-content: center;
    }
    .exp img{
        width: 30px !important;
    }
    .exp p{
        font-size: 16px !important;
    }
    .header .stats .name {
        margin-bottom: 10px;
        display: flex;
        align-items: flex-start;
        gap: 0;
        flex-direction: column;
    }
}