*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
    margin: 30px;
    color: #2bb0cf;
    padding: 10px 70px;
    background-color: white;
}

.search{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.search div{
    /* background-color: yellowgreen; */
    position: relative;
    width: auto;
}

.search .banner{
    position: absolute;
    width: 600px;
    z-index: -10;
    top: -20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

form{
    display: flex;
    justify-content: center;
}

.search-bar{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    height: 70px;
    padding: 10px 6px;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    gap: 30px;
}

.search-txt-btn{
    display: flex;
    align-items: center;
}

.search-bar input[type="text"]{
    border: none;
    font-size: 18px;
    outline: none;
}

select{
    margin-left: 20px;
}

button{
    display: inline-block;
    background-color: inherit;
    border: none;
    cursor: pointer;
    width: 40px;
    margin-right: 20px;
    margin-top: 5px;
}

button img{
    width: 100%;
}

#search-type {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
    padding: 7px 14px;
    width: auto;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    color: gray;
    font-weight: lighter;
}

@media (max-width: 603px){
    .search{
        height: auto;
    }

    h1{
        margin: 15px;
        font-size: 20px;
        text-align: center;
        padding: 5px 35px;
    }

    .search div .banner{
        display: none;
    }

    #search-type{
        text-align: center;
    }

    .search-bar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        height: auto;
        justify-items: start;
        box-shadow: none;
        gap: 10px;
    }

    .search-txt-btn{
        display: flex;
        gap: 10px;
    }    

    select {
        margin-left: 0;
    }

    .search-bar input[type="text"]{
        border: none;
        font-size: 18px;
        outline: none;
        text-align: center;
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
        border-radius: 50px;
        padding: 10px 20px;
    }

    button{
        width: 50px;
        height: 50px;
        margin: 0;
    }

    button img{
        width: 80%;
        height: auto;
    }
}

@media (max-width: 350px){
    .search-txt-btn{
        flex-direction: column;
    }

    .search-bar{
        justify-items: center;
    }
}